body{
    background-color: #E4FBFF;
}




.row {
    --bs-gutter-x: 0rem;
}

/* navbar */

.logoImg {
    height: 45px;
    width: 60px;
  }


.firsthalf{
    margin-top: 30px;
}


/* carousel */

.impact_img_carousel{
    /* border-style: solid; */
    border: 1px solid rgba(201, 200, 200, 0.362);
    border-radius: 10px;
    height: 290px;
}

.imagesCarousel {
    border-radius: 10px;
    border: 1px solid rgba(201, 200, 200, 0.362);

}

.box-report {
    background-color: #B9E9FC;
}
#amountDonated{
    font-weight: 900;
    size: 100;
}
#mealsDonated{
    font-weight: 900;
    font-size: 500;
}
.donationReceived, .meals{
    font-weight: 100;
    font-size: 10;
}
.c_img{
    height: 288px;
    width: 100%;
    border-radius: 10px;
}

/* impact */



.insideImpact {
    padding: 0;
    border: 1px solid rgba(201, 200, 200, 0.362);
    height: 290px;
    width: 99%;
    float: right;
    border-radius: 10px;
}

.inImp1 {
    padding: 0px;
    background-color: #B0DAFF;
}

#container1{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#container2{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.centered-box {

    justify-content: center;
    align-items: center;
    height: 100%;
    border: 1px solid rgba(201, 200, 200, 0.362);
    width: 90%;
    height: 150px;
    margin-top: 70px;
    margin-left: 5%;
    border-radius: 10px;
    background-color: #A1E3D8;
    color:#005555;
}

@media only screen and (max-width: 850px) {
    .insideImpact {
        padding: 0;
        border-style: solid;
        height: 290px;
        width: 100%;
        float: right;
        border-radius: 10px;
    }
}

/* donate boxes */

.boxes-donation {
    margin-top: 80px;
}
#makeDonation-text{
    color: #13005A;
}
#checkDonation-text{
    color: #13005A;
}
.checkdonate {
    color: white;
    height: 175px;
    border-style: solid;
    border-radius: 10px;
    border: 1px solid rgba(201, 200, 200, 0.362);
    width: 99%;
    float: right;
    background-color: #B0DAFF;
    padding: 10px;
}

.donate {
    color: white;
    height: 175px;
    border-style: solid;
    border-radius: 10px;
    border: 1px solid rgba(201, 200, 200, 0.362);
    width: 99%;
    float: left;
    background-color: #B0DAFF;
    padding: 10px;
}

.checkBtn {
    float: right;
    margin-right: 20px;
    border: 1px solid rgba(201, 200, 200, 0.362);
}
#checkDonationBtn{
    background-color: #005555;
    color: whitesmoke;
}
#donateBtn{
    background-color: #A1E3D8;
    color: #005555;
}


@media only screen and (max-width: 767px) {
    .checkdonate {
        margin-top: 50px;
    }

    .donate {
        margin-top: 50px;
        width: 100%;
        float: none;
    }

    .boxes-donation {
        margin-top: 30px;
        width: 100%;
        float: none;
    }
}


footer {
    position: relative;
    margin-top: auto;
    bottom: -90px;
    width: 100%;
    height: 50px;
    color: whitesmoke;
    background-color: #13005A;
}


